body {
    margin: 0;
    padding: 0;
}

#backgroung-For-img {
    display: flex;
    flex-direction: column;
    background-image:url(images/retaiI-Img.jpg);
    background-size: contain
        /* <------ */
}

#header {
    background-color: black;
    opacity: 80%;
    color: aliceblue;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    top: 0%;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

nav {
    color: rgb(31, 30, 30);
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid gray;
    font-size: large;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 1.5rem;
}

#logo {
    font-size: larger;
    font-weight: bolder;
    padding: 0.4rem;
    background-color: rgb(0, 5, 73);
    border-top-left-radius: 1rem;
    color: white;
    text-shadow: 1px 2px red;
    margin: 0.1rem 1rem 0.1rem -1.3rem;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
}

.stretch {
    display: inline-block;
    -webkit-transform: scale(1.3, 1.5);
    transform: scale(1.3, 1.5);
}

#search {
    width: 85%;
    color: rgb(8, 8, 8);
    margin: 2px;
    padding-left: 10px;
    outline-color: transparent;
    border: none;
}

#search-img {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: rgb(1, 15, 90);
}

a:hover {
    color: rgb(85, 88, 248);
}

#slogan {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    height: 300px;
}

#Main_content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.content {
    background-color: rgb(250, 248, 248);
    width: 300px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    border: 1px solid rgb(138, 189, 255);
}

.content:active {
    border: 1px solid blue;
    outline: 1px solid green;

    .product_img {
        border: 1px solid gold;
    }

}

.product_img {
    width: 250;
    height: 300px;
    border: 1px solid grey;
    background-image: url(images/dummy-profile2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 5px 10px 5px;
}

h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -5px;
}

.content p {
    border: 1px solid rgb(202, 201, 201);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

#img-bg-1 {
    background-image: url(images/shirt2.jpg);
}

#img-bg-2 {
    background-image: url(images/pinkShoes.webp);
}

#img-bg-3 {
    background-image: url(images/heels.webp);
}

#img-bg-4 {
    background-image: url(images/neckles.jpg);
}

#img-bg-5 {
    background-image: url(images/shoes.webp);
}

#img-bg-6 {
    background-image: url(images/ring.jpg);
}

#img-bg-7 {
    background-image: url(images/shirt.jpg);
}

#img-bg-8 {
    background-image: url(images/cloth-Fashion.jpg);
}

#footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    text-align: center;
}

#search_border {
    display: flex;
    border: 1px solid rgb(48, 47, 47);
    width: 60%;
    border-radius: 10px;
}

#search-btn {
    margin: 5px;
    width: 60px;
    font-weight: bold;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(252, 135, 2);
    border: none;
}

#search-btn:active {
    color: black;
    background-color: rgb(253, 212, 135);
}

#search_border:hover {
    border: 1px solid rgb(255, 251, 0);
    outline: 1px solid red;
}

#gridView {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(138, 189, 255);
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;

}

.gridiv {
    border: 1px solid gray;
    margin: 2px;
    border-radius: 10px;
}

.gridiv p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.gridiv:active {
    border: 1px solid rgb(2, 39, 252);
    outline: 1px solid purple;
}

.gridImg {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

#grid-img-1 {
    background-image: url(images/mobile.webp);
}

#grid-img-2 {
    background-image: url(images/fruit.webp);
}

#grid-img-3 {
    background-image: url(images/cricket.jpg);
}

#grid-img-4 {
    background-image: url(images/heel2.webp);
}

#grid-img-5 {
    background-image: url(images/watch.jpg);
}

#before-footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 1, 20);
    color: antiquewhite;
    text-align: center;
}

.last-Img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
}

#info_img {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

#Account {
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid navy;
    margin-right: 10px;
}

#Account:hover {
    background-color: rgb(1, 36, 110);
    color: aliceblue;
    transition: all 0.5s;
}

#Account:active {
    background-color: rgb(133, 184, 252);
    color: rgb(2, 55, 134);
}

#myDialog {
    width: 50%;
    height: max-content;
    border-radius: 10px;
    border: 2px solid palevioletred;
    padding: 10px;
}

#myDialogDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myDialog input {
    padding: 10px;
    text-align: center;
    display: block;
    width: 70%;
    margin: 5px;
}

#account_btn {
    padding: 12px;
    text-align: center;
    display: block;
    width: 73%;
    margin: 5px;
    border: none;
    background-color: rgb(231, 8, 82);
    color: white;
    font-weight: bolder;
}

#account_btn:hover {
    background-color: rgb(236, 142, 173);

}

#account_btn:active {
    color: rgb(255, 3, 66);
    background-color: rgb(248, 246, 246);
    border: 1px solid rgb(255, 3, 66);

}

#myDialog span {
    padding: 5px;
    text-align: center;
    display: block;
    width: 70%;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid grey;
}

#myDialog span:active {
    background-color: grey;
    border: 1px solid black;
}

.accountImg {
    width: 25px;
    height: 25px;
    margin-right: 20PX;
    padding-top: 3px;
}

.X-btn {
    width: max-content;
    height: max-content;
    font-weight: bolder;
    float: inline-end;
    font-size: larger;
    border: none;
}

#myAboutDialog {
    border: 2px solid rgb(255, 0, 170);
    outline: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 90%;
    width: 95%;
    color: rgb(97, 0, 97);
}

#myAboutDialog h1 {
    font-size: 3rem;
    font-family: cursive;
    font-weight: bolder;
    color: rgb(255, 33, 163);
    text-shadow: 2px 2px rgb(136, 2, 136);
}

#myAboutDialog p {
    font-size: 1.2rem;
    font-family: cursive;
}

@media screen and (max-width: 767px) {
    nav{
        width:97%;
        font-size:small;
    }
    #slogan{
        font-size:25px;
    }

    #backgroung-For-img {
        background-size: cover;
        width: 100%;
    }

    #myDialog {
        width: 94%;
        height: max-content;
        border-radius: 10px;
        border: 2px solid palevioletred;
        padding: 2px;
        font-size:small;
    }

    .product_img {
        width: 150;
        height: 200px;
        border: 1px solid grey;
        background-image: url(images/dummy-profile2.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 5px;
    }

    #Main_content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    .content {
        background-color: rgb(250, 248, 248);
        width: 200px;
        margin: 5px;
        padding: 2px;
        border: 1px solid rgb(138, 189, 255);
    }

    a {
        font-size: smaller;
        margin: 3px;
        padding-left:2px;
    }

    .gridImg {
        width: 200px;
        height: 200px;
        margin: 5px;
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
#logo {
    font-size:medium;
    font-weight: bolder;
    padding: 2px;
    background-color: rgb(0, 5, 73);
    border-top-left-radius: 1rem;
    color: white;
    text-shadow: 1px 2px red;
    margin: 5px;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
}
}
